extends ../layout.pug

block content
    span=errorMessage
    form(method="POST")
        input(placeholder="Old Password",type="password",name="old_pw")
        input(placeholder="New Password",type="password",name="new_pw")
        input(placeholder="New Password Confirmation",type="password",name="new_pw_confirm")
        input(value="Change Password",type="submit")